.container {
  box-shadow: 4px 0 10px #62626254;
  padding: 20px 0;
}
.header {
  padding-inline: 120px;
  margin-top: 30px;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .header {
    padding-inline: 30px;
  }
}
