.tel {
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  gap: 0px;
}
.tel__clock {
  display: flex;
  justify-content: end;
}
.tel__number {
  font-weight: 600;
}
.container {
  display: flex;
  gap: 20px;
}
.tel__clock {
  margin: 0 auto;
}
@media (max-width: 960px) {
  .container {
    display: none;
  }
}
