.hamburger {
  display: none;
  z-index: 10;
}

.hamburger.is-active {
  transform: rotate(90deg);
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: #bd7048;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

@media (max-width: 960px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
  }

  .burger.active {
    background-color: #fff; /* Цвет фона для активного гамбургера */
  }
}
