.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 960px) {
  .nav {
    position: fixed;
    top: 0;
    margin: 0;
    right: 0;
    width: 15.5rem;
    height: 100vh;
    padding: 200px 20px 20px 20px;
    background-color: #fff;
    box-shadow: 4px 0 10px #62626254;

    justify-content: start;
    flex-direction: column;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.5s;
  }
  .none {
    display: none;
  }
  .is-active {
    transform: translateX(0);
  }
}
