.boxTitle {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  gap: 38px;
}
.borderBottom {
  margin-top: 31px;
  height: 2px;
  width: 555px;
  background-color: black;
}
.title {
  font-size: 43px;

  font-weight: 500;
}
.title span {
  color: #bd7048;
}
.video {
  margin: 25px auto 0;
  max-width: 1240px;
  height: 660px;
}

@media (max-width: 1060px) {
  .boxTitle {
    text-align: center;
  }
  .borderBottom {
    display: none;
  }
}
@media (max-width: 520px) {
  .title {
    max-width: 300px;
    font-size: 32px;
    margin: 0;
  }
  .video {
    margin: 0 auto;
  }
}
